<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
    <mongo:mongo-client id="mongo" credentials="admin:1233456@xcube" replica-set="127.0.0.1:2181">
    </mongo:mongo-client>

    <mongo:db-factory id="mongoDbFactory" mongo-ref="mongo"/>

    <mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory"/>
</beans>