<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-kafka="http://www.springframework.org/schema/integration/kafka"
       xsi:schemaLocation="http://www.springframework.org/schema/integration/kafka
        http://www.springframework.org/schema/integration/kafka/spring-integration-kafka.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 生产者配置 -->
    <bean id="template" class="org.springframework.kafka.core.KafkaTemplate">
        <constructor-arg index="0">
            <bean class="org.springframework.kafka.core.DefaultKafkaProducerFactory">
                <constructor-arg>
                    <map>
                        <entry key="bootstrap.servers" value="127.0.0.1:9092"/>
                        <entry key="acks" value="all"/>
                        <entry key="retries" value="3"/>
                        <entry key="batch.size" value="16384"/>
                        <entry key="linger.ms" value="1"/>
                        <entry key="buffer.memory" value="33554432"/>
                        <entry key="key.serializer" value="33554432"/>
                        <entry key="key.serializer" value="org.apache.kafka.common.serialization.StringSerializer"></entry>
                        <entry key="value.serializer" value="org.apache.kafka.common.serialization.StringSerializer"></entry>
                    </map>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <!-- 生产1号 -->
    <int:channel id="inputToKafka">
        <int:queue/>
    </int:channel>
    <int-kafka:outbound-channel-adapter id="kafkaOutboundChannelAdapter"
                                        kafka-template="template"
                                        auto-startup="true"
                                        channel="inputToKafka"
                                        topic="logger">
        <int:poller fixed-delay="1000" time-unit="MILLISECONDS"/>
    </int-kafka:outbound-channel-adapter>

</beans>